@charset "UTF-8";
html {
	height: 100%;
	font-size:62.5%;
}

body {
	width: 100%;
	height: 100%;
	min-height:100%;
	font-size:1rem;
	font-family:"ＭＳ Ｐ明朝","Times New Roman",serif;
	line-height:1.1;
	color:#fff;
	/*background-image: url(../img/gradation.png), url(../img/measureL.png), url(../img/measureR.png), url(../img/bgTextile.jpg);
	background-position: right bottom, left bottom, right bottom, left top;
	background-repeat: repeat-x, no-repeat, no-repeat, repeat;*/
	background-image: url(../img/measureL.png), url(../img/measureR.png), url(../img/bgTextile.jpg);
	background-position: left bottom, right bottom, left top;
	background-repeat: no-repeat, no-repeat, repeat;
	background-attachment:fixed, fixed, fixed;
}
/*map*/
div#mapWrap{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	/*-webkit-perspective: 100px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform:  rotateX(50deg);*/
}
div#map{
	width: 100%;
	height: 100%;
	opacity: 0.1;
	filter: alpha(opacity=10);
	-moz-opacity: 0.1;
	z-index: 0;
}
/*header*/
header h1{
	width: 111px;
	height: 63px;
	display: block;
	position: fixed;
	top: 20px;
	left: 20px;
}
/*control*/
div#control{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	/*overflow: auto;*/
}
/*name*/
nav{
	padding: 0 15px;
	font-size: 1.8rem;
	position: absolute;
	top: 100px;
	z-index: 2;
}
nav li{
	width: 20px;
	margin: 0 5px;
	display: inline-block;
	cursor: pointer;
	opacity: 0.75;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	direction:ltr;
	unicode-bidi:bidi-override;
	-webkit-writing-mode:vertical-rl;
	letter-spacing: 0.1em;
}
nav li.selectName{
	opacity: 1;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
}
/*graph*/	
div#graph{
	padding: 0 15px;
	font-size: 1.6rem;
	position: absolute;
	bottom: 0;
}
div#graph canvas{
	width: 1px;
	margin: 0 14px -3px;
	display: inline-block;
	border-right: 1px solid #739691;
	/*background: #496e69;
	border-top: 2px dotted #496e69;*/
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
}
div#graph canvas.select{
	width: 20px;
	margin: 0 5px -3px;
	background: #ca1e3b;
	border-top: none;
	border-right: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
}
/*detail*/
div#detail{
	width: 500px;
	position: fixed;
	top: 256px;
	left: 180px;
	z-index: 3;
}
div#detail p{
	width: 100%;
}
p.place{
	margin: 0 0 20px 0;
	font-size: 1.6rem;
}
p.nameJa{
	margin: 0 0 5px -3px;
	font-size: 3.6rem;
}
p.nameEn{
	margin: 0 0 20px 0;
	font-size: 1.6rem;
	letter-spacing: 0.1em;
}
p.height{
	margin: 0 0 20px 0;
	font-size: 1.4rem;
}
p.mapN{
	margin: 0 0 5px 0;
	font-size: 1.4rem;
}
p.mapE{
	font-size: 1.4rem;
}

footer{
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	position: fixed;
	left: 20px;
	bottom: 2%;
	z-index: 3;
}
footer a:link,
footer a:visited{
	color: #fff;
	text-decoration: underline;
}
footer a:hover,
footer a:active{
	color: #fff;
	text-decoration: none;
}
footer div#sns{
	width: 194px;
	padding: 3px;
	position: fixed;
	right: 85px;
	bottom: 1.5%;
	z-index: 4;
	/* background: url(../img/bgSns.png) 0 0 no-repeat; */
}
footer div#twitter{
	width: 95px;
	float: left;
}
footer div#facebook{
	width: 98px;
	float: left;
}
footer div#switch{
	padding: 3px;
	position: fixed;
	right: 20px;
	bottom: 2%;
	z-index: 4;
	background: url(../img/bgAuto.png) 0 0 no-repeat;
	cursor: pointer;
}

/*

legacy browsers

*/
body.ie6,
body.ie7{
	background-image: url(../img/bgTextile.jpg);
	background-position: left top;
	background-repeat: repeat;
	background-attachment:fixed;
}
body.ie6 header h1{
	position: absolute;
}
body.ie6 footer{
	position: absolute;
}
/*
body.ie6 nav{
	top: 120px;
	font-size: 175%;	
}*/
body.ie7 nav{
	font-size: 175%;	
}
body.ie6 p.place,
body.ie7 p.place{
	font-size: 130%;
}
body.ie6 p.nameJa,
body.ie7 p.nameJa{
	font-size: 300%;
}
body.ie6 p.nameEn,
body.ie7 p.nameEn{
	font-size: 150%;
}
body.ie6 p.height,
body.ie7 p.height{
	font-size: 130%;
}
body.ie6 p.mapN,
body.ie7 p.mapN{
	font-size: 130%;
}
body.ie6 p.mapE,
body.ie7 p.mapE{
	font-size: 130%;
}
body.ie6 nav li,
body.ie7 nav li{
	display: block;
	float: left;
}

body.ie6 div#mapWrap{
	display: none;
}
body.ie6 div#control{
	display: none;
}
body.ie6 div#detail{
	display: none;
}
body.ie6 footer div#sns,
body.ie7 footer div#sns{
	display: none;
}
body.ie6 footer div#switch,
body.ie7 footer div#switch{
	display: none;
}

